---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes";

html {
  font-size: 1em; // change to whatever

  @include breakpoint($medium) {
    font-size: 1em; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 1em; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 1em; // change to whatever
  }
}
